<br>
<br>
<div class="container" >
  <div class="row justify-content-center" >
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
    <br>
    <br>
    <form action="" #values="ngForm" (ngSubmit)="save(values)" style="background-color: aliceblue;">
        <h1>{{this.id == null ? '\Ajout' : 'Modifier'}} Utilisateurs</h1>
        <br>
        <fieldset >
          <div class="form-group">
            <label for="disabledTextInput">Nom</label>
            <input type="text" id="nom" class="form-control" [(ngModel)]="nom" name="nom"  placeholder="Nom">
          </div>
          <div class="form-group">
            <label for="disabledTextInput">Prenom</label>
            <input type="text" id="prenom" class="form-control" [(ngModel)]="prenom" name="prenom" placeholder=" Prenom">
          </div>
          <div class="form-group">
            <label for="disabledTextInput"> Age</label>
            <input type="number" id="age" class="form-control" [(ngModel)]="age" name="age" placeholder=" Age">
          </div>
          <br>
        </fieldset>
        <button type="submit" class="btn btn-primary" >{{this.id == null ? 'Ajouter' : 'Modifier'}}</button>&nbsp;
          <button type="reset" class="btn btn-danger" routerLink="/user">Annuler</button>
      </form>
    </div>