<div class="container">
    <br>
    <h1>La page d'ajout  (Coach)</h1>
    <br>
    <form action=""  #values="ngForm"  (ngSubmit)="save(values)">
        <label for="">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
        <label for="">Age</label>
        <input type="text" class="form-control" [(ngModel)]="age" name="age">
        <br>
        <button type="submit" class="btn btn-success m-lg-1" >Ajouter</button>
        <button type="reset" routerLink="/coach" class="btn btn-danger">Retour</button>
    </form>
</div>